.message-input {
    position: relative;
    bottom: 7px;
    right: 2px;
    left: 0;
}

.mdc-text-field--textArea {
    height: 250px;
    margin-bottom: 0;
}

.chat-messagesInput {
    flex-grow: 1;
    left: 1px;
    right: 5px;
}